/*FORMATAÇÕES GENÉRICAS*/
body, html {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #3d1a39;
}

.clear {
    clear: both;
}

/*FORMATAÇÕES MENU PRINCIPAL*/

#menu-principal {
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

#menu-principal-logo img {
    width: 220px;
    float: left;
}

/*FORMATAÇÕES NAVECAÇÃO*/

#menu-principal-navegacao ul {
    float: left;
}

#menu-principal-navegacao ul li {
    display: inline-block;
    margin-top: 10px;
}

#menu-principal-navegacao ul li a:link, #menu-principal-navegacao ul li a:visited {
    display: block;
    padding: 10px 15px;
    color: #3d1a39;
}

#index .index, #artigos .artigos, #treinamento .treinamento, #sobre .sobre, #contato .contato {
    border-bottom: 2px solid #FF007F;
    color: #FF007F;
}

@keyframes animacao-navegacao {
    from {
        color: #3d1a39;
    }
    to {
        border-bottom: 2px solid #FF007F;
        color: #FF007F;
    }
}

#menu-principal-navegacao ul li a:hover {
    animation-name: animacao-navegacao;
    animation-duration: 1s;
    border-bottom: 2px solid #FF007F;
    color: #FF007F;
}

/*FORMATAÇÕES MEMBROS*/

#menu-principal-membros ul {
    float: right;
}

#menu-principal-membros ul li {
    margin-right: 30px;
    margin-top: 20px;
}

#menu-principal-membros ul li a:link, #menu-principal-membros ul li a:visited {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #3d1a39;
    color: #fff;
}

#menu-principal-membros ul li a:hover {
    text-decoration: underline;
    background-color: #FF007F;
    box-shadow: 0px 0px 3px 1px rgb(87, 87, 87);
    transition: 0.5s;
}

/*FORMATAÇÕES CONTAINER PRINCIPAL*/

#container-principal {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

/*FORMATAÇÕES ARTIGOS*/

#container-principal-artigos {
    width: 65%;
    float: right;
}

#container-principal-artigos a.link-artigo {
    display: block;
    padding: 10px;
    box-shadow: 0px 0px 1px 0px black;
}

#container-principal-artigos a.link-artigo:hover {
    opacity: 0.8;
}

#container-principal-artigos img {
    width: 150px;
    height: 100px;
    float: left;
    margin: 12px 10px;
    border-radius: 10px;
}

#container-principal-artigos h2 {
    color: #3d1a39;
    font-size: 1.4em;
    margin-top: 10px;
    text-transform: none;
}

#container-principal-artigos .artigo {
    margin-bottom: 10px;
}

/*FORMATAÇÕES LATERAL*/

#container-principal-lateral {
    width: 30%;
    float: left;
    padding: 10px;
}

#container-principal-lateral h3 {
    margin-top: 10px;
    color: #3d1a39;
}

#lateral-busca input[type="text"] {
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(177, 177, 177);
    border-radius: 3px;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.8;
}

#lateral-categorias {
    margin-bottom: 20px;
}

#lateral-categorias ul {
    margin: 0;
    padding: 0;
}

#lateral-categorias ul li a:link {
    display: block;
    margin-bottom: 10px;
    text-transform: none;
}

#lateral-categorias ul li a:hover {
    text-decoration: underline;
    color: #FF007F;
}

#lateral-curso img {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    border-radius: 5px;
}

#lateral-curso input[type="button"] {
    margin-left: 15%;
    width: 70%;
    height: 40px;
    background: linear-gradient(to bottom, #fd9cd0, #ff379b);
    border: none;
    border-radius: 10px;
    color: #3d1a39;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#lateral-curso input[type="button"]:hover {
    cursor: pointer;
}

#lateral-curso input[type="button"]:active {
    opacity: 0.8;
}